  <section class="content" id="about">
      <div class="block-content">
          <h3 class="block-title">Perfil</h3>
          <h3 class="subheading">¡Hola! soy Anderson Bastidas <strong>Analista De Software & Programador BackEnd/FrontEnd</strong></h3>
          <p>Web Senior con más de 8 años de experiencia. especializada en desarrollo front end y back end. Experimentado con todas las etapas de la ciclo de desarrollo para proyectos web dinámicos. Tener un conocimiento profundo incluyendo HTML5 avanzado, CSS, CSS3, SASS, LESS, JSON, XML, Java, JavaScript, JQuery, Angular JS. Fuertes antecedentes en gestión y liderazgo.</p>
          <div class="info-list row">
              <div class="col-sm-6"><span>Nombre : </span> Anderson Bastidas</div>
              <div class="col-sm-6"><span>Fecha de Nacimiento : </span> Junio 10, 1987 </div>
              <div class="col-sm-6"><span>Dirección : </span> Perú, Lima, Carabayllo.</div>
              <div class="col-sm-6"><span>Email : </span> davisanderson87@gmail.com</div>
              <div class="col-sm-6"><span>Telefono : </span> + 51 959 747 175</div>
              <div class="col-sm-6"><span>Interes : </span> Frelance, Full-Time</div>
          </div>
      </div>
      <div class="block-content">
          <h3 class="block-title">Profesional</h3>
          <label class="progress-bar-label">C++</label>
          <div class="progress">
              <div style="width: 20%;" class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                  <span>20%</span>
              </div>
          </div>
          <label class="progress-bar-label">C#</label>
          <div class="progress">
              <div style="width: 60%;" class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                  <span>60%</span>
              </div>
          </div>
          <label class="progress-bar-label">Ionic</label>
          <div class="progress">
              <div style="width: 30%;" class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">
                  <span>30%</span>
              </div>
          </div>
          <label class="progress-bar-label">MySQL</label>
          <div class="progress">
              <div style="width: 70%;" class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                  <span>70%</span>
              </div>
          </div>
          <label class="progress-bar-label">SQL</label>
          <div class="progress">
              <div style="width: 70%;" class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                  <span>70%</span>
              </div>
          </div>
          <label class="progress-bar-label">React</label>
          <div class="progress">
              <div style="width: 10%;" class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                  <span>10%</span>
              </div>
          </div>
          <label class="progress-bar-label">Laravel</label>
          <div class="progress">
              <div style="width: 45%;" class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">
                  <span>45%</span>
              </div>
          </div>
          <label class="progress-bar-label">NodeJS</label>
          <div class="progress">
              <div style="width: 20%;" class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                  <span>20%</span>
              </div>
          </div>
          <label class="progress-bar-label">Angular</label>
          <div class="progress">
              <div style="width: 20%;" class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                  <span>20%</span>
              </div>
          </div>
          <label class="progress-bar-label">Java</label>
          <div class="progress">
              <div style="width: 20%;" class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                  <span>20%</span>
              </div>
          </div>
          <label class="progress-bar-label">Flutter</label>
          <div class="progress">
              <div style="width: 45%;" class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">
                  <span>45%</span>
              </div>
          </div>
          <label class="progress-bar-label">Dart</label>
          <div class="progress">
              <div style="width: 45%;" class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">
                  <span>45%</span>
              </div>
          </div>
          <label class="progress-bar-label">PHP</label>
          <div class="progress">
              <div style="width: 85%;" class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                  <span>85%</span>
              </div>
          </div>
          <label class="progress-bar-label">JQuery</label>
          <div class="progress">
              <div style="width: 85%;" class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                  <span>85%</span>
              </div>
          </div>
          <label class="progress-bar-label">LESS</label>
          <div class="progress">
              <div style="width: 45%;" class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">
                  <span>45%</span>
              </div>
          </div>
          <label class="progress-bar-label">HTML5</label>
          <div class="progress">
              <div style="width: 95%;" class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                  <span>95%</span>
              </div>
          </div>
          <label class="progress-bar-label">CSS3</label>
          <div class="progress">
              <div style="width: 80%;" class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                  <span>80%</span>
              </div>
          </div>
      </div>
      <div class="block-content">
          <h3 class="block-title">Experiencia</h3>
          <div class="timeline experience">
              <div class="row">
                  <div class="col-md-12">
                      <div class="exp-holder">
                          <div class="exp">
                              <div class="hgroup">
                                  <h4><span>UX Designer</span> @ Apple Inc</h4>
                                  <h5>Feb 2017 - <span class="current">Present</span></h5>
                              </div>
                              <p>Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in reprehend incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                          </div>
                          <div class="exp">
                              <div class="hgroup">
                                  <h4><span>Research Assistant</span> @ Facebook </h4>
                                  <h5>Sept 2017 - Nov 2017</h5>
                              </div>
                              <p>Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in reprehend incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                          </div>
                          <div class="exp">
                              <div class="hgroup">
                                  <h4><span>Intern</span> @ Google </h4>
                                  <h5>May 2017 - Sept 2017</h5>
                              </div>
                              <p>Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in reprehend incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="block-content">
          <h3 class="block-title">Educación</h3>
          <div class="timeline education">
              <div class="row">
                  <div class="col-md-12">
                      <div class="exp-holder">
                          <div class="exp">
                              <div class="hgroup">
                                  <h4>MSc in Computer Graphics | <span>Oxford University</span></h4>
                                  <h5>Sept 2017 - Nov 2017</h5>
                              </div>
                              <p>Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in reprehend incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                          </div>
                          <div class="exp">
                              <div class="hgroup">
                                  <h4>BSc(Hons) in Computer Science | <span>Cambridge University</span></h4>
                                  <h5>Mar 2017 - May 2017</h5>
                              </div>
                              <p>Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in reprehend incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                          </div>
                          <div class="exp">
                              <div class="hgroup">
                                  <h4>A Levels | <span>London Public Schoo</span></h4>
                                  <h5>May 2017 - Sept 2017</h5>
                              </div>
                              <p>Ut enim ad minim veniam, quis nostrud exerc. Irure dolor in reprehend incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="block-content">
          <h3 class="block-title">Servicios</h3>
          <div class="row">
              <div class="col-md-4 col-sm-6 service">
                  <div class="service-icon">
                      <i class="ion-laptop"></i>
                  </div>
                  <h4>Diseño Web</h4>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
              </div>
              <div class="col-md-4 col-sm-6 service">
                  <div class="service-icon">
                      <i class="ion-pie-graph"></i>
                  </div>
                  <h4>Desarrollo de Aplicaciones</h4>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
              </div>
              <div class="col-md-4 col-sm-6 service">
                  <div class="service-icon">
                      <i class="ion-paintbucket"></i>
                  </div>
                  <h4>Diseño Grafico</h4>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
              </div>
              <div class="col-md-4 col-sm-6 service">
                  <div class="service-icon">
                      <i class="ion-printer"></i>
                  </div>
                  <h4>Print Design</h4>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
              </div>
              <div class="col-md-4 col-sm-6 service">
                  <div class="service-icon">
                      <i class="ion-qr-scanner"></i>
                  </div>
                  <h4>Graphic Design</h4>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
              </div>
              <div class="col-md-4 col-sm-6 service">
                  <div class="service-icon">
                      <i class="ion-social-buffer"></i>
                  </div>
                  <h4>Print Design</h4>
                  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
              </div>
          </div>
      </div>
      <div class="block-content">
          <h3 class="block-title">Awards</h3>
          <div class="row">
              <div class="col-md-3 col-sm-6 awards">
                  <img src="assets\images\awards\1.jpeg" alt="">
              </div>
              <div class="col-md-3 col-sm-6 awards">
                  <img src="assets\images\awards\2.jpeg" alt="">
              </div>
              <div class="col-md-3 col-sm-6 awards">
                  <img src="assets\images\awards\3.jpeg" alt="">
              </div>
              <div class="col-md-3 col-sm-6 awards">
                  <img src="assets\images\awards\4.jpeg" alt="">
              </div>
          </div>
      </div>
      <div class="block-content">
          <h3 class="block-title">Testimonios</h3>
          <div class="row">
              <div id="liontestimonial" class="owl-carousel owl-theme">
                  <div class="item testimonials">
                      <img src="assets\images\testimonials\1.jpeg" alt="">
                      <blockquote>Trabajo con Anderson en varios proyectos de desarrollo web y creo que es extremadamente
                          desarrollador FrontEnd creativo y técnico. La experiencia de Anderson implica la construcción
                          compleja de diseño receptivo con HTML 5, CSS3 y JavaScript.
                          <p class="quote"><span>Jose Bonifacio</span> - Analista Desarrollador TI</p>
                      </blockquote>
                  </div>
                  <div class="item testimonials">
                      <img src="assets\images\testimonials\2.jpeg" alt="">
                      <blockquote>Trabajo con Anderson en varios proyectos de desarrollo web y creo que es un desarrolador FrontEnd y BackEnd extremadamente creativo.
                          <p class="quote"><span>Cristian López</span> - Infraestructura de TI</p>
                      </blockquote>
                  </div>
              </div>
          </div>
      </div>
      <div class="row text-center">
          <div class="col-md-12 btn-email">
              <a class="btn lowercase">davisanderson87@gmail.com</a>
          </div>
      </div>
  </section>
