<section class="content">
  <div class="block-content">
      <h3 class="block-title">Mi Blog</h3>
      <div class="row">
          <div class="col-md-10 mx-auto">
              <div class="post">
                  <div class="post-thumbnail">
                      <div class="embed-responsive embed-responsive-16by9">
                          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/DUxdAESy4rg?rel=0" allowfullscreen></iframe>
                      </div>
                  </div>
                  <div class="post-title">
                      <a href="#"><h2>Integrar Template Dashboard HTML5 a Laravel - Parte 1</h2></a>
                      <p class="post-info">
                          <span class="post-author">Realizado por Anderson Bastidas</span>
                          <span class="slash"></span>
                          <span class="post-date">Julio 10, 2020</span>
                          <span class="slash"></span>
                          <span class="post-catetory">Educación , Laravel , PHP , Template</span>
                      </p>
                  </div>
                  <div class="post-body">
                      <a class="btn" target="_blank" href="https://youtu.be/DUxdAESy4rg">Ver Mas</a>
                  </div>
              </div>
              <div class="post">
                  <div class="post-thumbnail">
                      <div class="embed-responsive embed-responsive-16by9">
                          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/JfAnqWUig6Q?rel=0" allowfullscreen></iframe>
                      </div>
                  </div>
                  <div class="post-title">
                      <a href="#"><h2>OpenTBS, PHP y Word - Diploma PHP - Certificado PHP</h2></a>
                      <p class="post-info">
                          <span class="post-author">Realizado por Anderson Bastidas</span>
                          <span class="slash"></span>
                          <span class="post-date">Junio 04, 2020</span>
                          <span class="slash"></span>
                          <span class="post-catetory">Educación , Laravel , PHP , Template</span>
                      </p>
                  </div>
                  <div class="post-body">
                      <a class="btn" target="_blank" href="https://youtu.be/JfAnqWUig6Q">Ver Mas</a>
                  </div>
              </div>
              <div class="post">
                  <div class="post-thumbnail">
                      <div class="embed-responsive embed-responsive-16by9">
                          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zSk0j3-v3YY?rel=0" allowfullscreen></iframe>
                      </div>
                  </div>
                  <div class="post-title">
                      <a href="#"><h2>Tutorial - Git y GitHub : Parte 3</h2></a>
                      <p class="post-info">
                          <span class="post-author">Realizado por Anderson Bastidas</span>
                          <span class="slash"></span>
                          <span class="post-date">Junio 12, 2020</span>
                          <span class="slash"></span>
                          <span class="post-catetory">Educación , GIT , GITHUB </span>
                      </p>
                  </div>
                  <div class="post-body">
                      <a class="btn" target="_blank" href="https://youtu.be/zSk0j3-v3YY">Ver Mas</a>
                  </div>
              </div>

          </div>
      </div>
  </div>
</section>
